body {
	padding: 5px;
	background: #abbaab;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ffffff, #abbaab);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ffffff, #abbaab);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

form {
	margin: 10px;
}

label.label {
	font-weight: bold;
}

#issue {
	width: 38%;
	height: 150px;
	font-size: 12px;
}

#location {
	max-width: 300px;
	font-size: 12px;
}

#butt {
	position: absolute;
	left: 55%;
}
#cat {
	margin-left: 2%;
}

.contacts {
	max-width: 150px;
}
