body {
    padding: 5px;
    background: #8e9eab;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #eef2f3, #8e9eab);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #eef2f3, #8e9eab);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

form {
    margin: 10px;
}

label.label {
    font-weight: bold;
}

select {
    margin-left: 1%;
    width: 208px;
}

#logo {
    max-width: 50%;
    margin-bottom: 25px;
    border-bottom: 5px black;
}

#issue {
    width: 38%;
    height: 150px;
    font-size: 14px;
}

#location {
    max-width: 25%;
    font-size: 12px;
}

#butt {
    position: absolute;
    left: 55%;
}

#team {
    max-width: 287px;
}

.contacts {
    max-width: 150px;
}